/**
* @file
* Some general css that can be overridden in the theme's css files.
*/

#little-helper-container img {
  vertical-align: top;
  border-bottom: 1px solid #c1c1c1;
  -moz-box-shadow: 0 10px 5px -5px #c1c1c1;
  -webkit-box-shadow: 0 10px 5px -5px #c1c1c1;
  box-shadow: 0 10px 5px -5px #c1c1c1;
}

#little-helper-quote {
  background-color: #f5f5f5;
  border: 1px solid #c1c1c1;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding: 15px;
  display: inline-block;
  max-width: 250px;
  -ms-word-break: normal;
  word-break: normal;
  webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#little-helper-quote-container {
  margin-top: 30px;
  display: inline-block;
  max-width: 320px;
}

#quote-angle {
  width: 26px;
  height: 24px;
  background: url("bubble-corner.png") center center no-repeat;
  float: left;
  position: relative;
  top: 10px;
  left: 1px;
  z-index: 10;
}
